@font-face {
    font-family: 'probapro-regular';
    src: url('../fonts/probapro/probapro-regular/probapro-regular.eot');
    src: url('../fonts/probapro/probapro-regular/probapro-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/probapro/probapro-regular/probapro-regular.woff') format('woff'),
         url('../fonts/probapror/probapro-regular/probapro-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'probapro-semibold';
    src: url('../fonts/probapro/probapro-semibold/probapro-semibold.eot');
    src: url('../fonts/probapro/probapro-semibold/probapro-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/probapro/probapro-semibold/probapro-semibold.woff') format('woff'),
         url('../fonts/probapror/probapro-semibold/probapro-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
// Core variables and mixins

@import "components/vars";

@import "bootstrap/normalize";
@import "bootstrap/grid";

@import "components/body";

@import "components/workarea";

@import "components/header";


.layout{
  	flex: 1 0 auto;
}

.container-fluid{
	max-width: 1080px;
	padding: 0;
	position: relative;
	width: 100%;
}

.page-content{

}

.btn{
	display: inline-block;
    
    position: relative;
    &:before{
    	content: "";
    	display: block;
    	width: 100%;
    	height: 100%;
    	position: absolute;
    	top: 2px;
    	left: 2px;
    	background: url(../img/content/btn-bg.jpg) repeat;
    	z-index: 1;
    }
}

.btn__in{
	position: relative;
	z-index: 2;
	display: inline-block;
	border: 2px solid #000;
    padding: 12px 23px;
    color: #000;
    background: #fff;
}

.btn-alt{
	position: relative;
	z-index: 2;
	display: inline-block;
	border: 2px solid #000;
    padding: 12px 23px;
    color: #000;
    background: #fff;
}


.breadcrumbs{
	display: flex;
	flex-wrap:wrap;
	margin-bottom: 20px;
}
.breadcrumbs__item{
	margin-bottom: 15px;
	color: #fff;
	span{
		border-bottom: 2px solid #000;
	    display: inline-block;
	    line-height: 24px;
	}
}

a.breadcrumbs__item:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 10px;
    background: url(../img/svg/b-arr.svg) no-repeat;
    margin: 0px 12px 0 10px;
}

.blog{
	padding-top: 77px;
	.container-fluid{
		padding-right: 252px;
	}
}
.page-top{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px 0 28px;
	color: #fff;
}
.page-title{
	margin-bottom: 23px;
	h1{
		margin-bottom: 0;
	}
	&+.author{
		margin-top: -39px;
	}
}

.page-top__add{
	font-size: 24px;
	max-width: 824px;
	line-height: 1.2;
}

.author{
	display: flex;
	align-items:center;
	padding-left: 2px;
	    position: relative;
    bottom: -59px;
    a{
		color: #fff;
		border-bottom: 2px solid #000;
		margin-right: 20px;
		display: inline-block;
		line-height: 1.49;
    	&:last-child{
    		margin-right: 0;
    	}
    }
}

.author__img{
	width: 111px;
	min-width: 111px;
	height: 111px;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 23px;
}

.author__person{
	margin-top: -31px;
}
.author__link{
	margin-left: 1px;
}

.page-img{
	margin-bottom:56px;
	img{
		max-width: 100%;
		display: block;
	}
}


.page-nav{
	background: #f1f2f2;
    padding-top: 0px;
    position: relative;
    z-index: 2;
    //margin-top: -38px;
}
.page-nav__inner{
	display: flex;
	transform: translateY(50%);
}
.page-nav__item{
	width: 50%;
	align-items:center;
	padding: 29px 28px;
	font-size: 24px;
	color: #fff;
	background: #d83232;
	margin: 0 1px;
	display: flex;
	justify-content:space-between;
	&:first-child{
		.page-nav__arrow{
			order: 1;
		}
		.page-nav__txt{
			order: 2;
		}
	}
	&:last-child{
		.page-nav__arrow{
			order: 2;
		}
		.page-nav__txt{
			order: 1;
		}
	}
}

.page-nav__item--next{
	background: url(../img/content/next-bg.jpg) center/contain no-repeat;
	padding-left: 40px;
	.page-nav__arrow{
		&:after{
			right: -7px;
			transform: rotate(180deg);
		}
	}
}
.page-nav__item--prev{
	background: url(../img/content/prev-bg.jpg) center/contain no-repeat;
	padding-right: 40px;
	.page-nav__arrow{
		&:after{
			left: -7px;
		}
	}
}

.page-nav__arrow{
	width: 240px;
	height: 28px;
	position: relative;
	&:before{
		content: "";
		width: 100%;
		height:2px;
		background: #fff;
		position: absolute;
		top: 50%;
		margin-top: -1px;
		left: 0;
	}
	&:after{
		content: "";
		width: 26px;
		height: 28px;
		background: url(../img/svg/back.svg) no-repeat;
		background-size: 26px 28px;
		display: inline-block;
		position: absolute;
		top: 0;
	}
}


.publications{
	position: relative;
	background: #f1f2f2;
	padding: 33px 0;
	
	h3{
		margin-bottom: 40px;
	}
}

.blog+.publications{
	margin-top: 95px;
}

.publications__img{
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0%, -50%);
    margin-top: 11px;
	img{
		display: block;
	}
}

.publications__wrap{
	display: flex;
	margin-right: -30px;
}

.publications__item{
	width: 25%;
	padding-right: 30px;
}

.publications__top{
    display: block;
    color: #d83232;
    font-size: 30px;
    margin-bottom: 11px;
    line-height: 1.2;
    font-family: 'probapro-semibold';
}
.publications__txt{
	font-size: 16px;
	line-height: 1.2;
}

.incut{
	margin-bottom: 24px;
	display: flex;
	padding: 5px 0 0 0;
}

.incut__add{
	font-size: 30px;
	font-family: 'probapro-semibold';
	width: 277px;
	min-width: 277px;
	margin-left: 25px;
	line-height: 1.2;
}


.highlighted{
	background: #f1f2f2;
    padding: 36px 30px 18px 30px;
    margin-bottom: 39px;
	h4{
		margin-bottom: 25px;
	}
}

.accordeon{
	margin-bottom: 53px;
	border-top: 1px solid #d6d6d6;
}

.accordeon__item{
	position: relative;
	background: #fff;
	border-bottom: 1px solid #d6d6d6;
	&.active{
		.accordeon__link{
			//color: #0088CC;
			&:after{
				transform:rotate(180deg);
				//background: url(../img/svg/faq_select_arrow-h.svg) center no-repeat;		
				//background-size: cover;
			}
		}
	}
	&:last-child{
		margin-bottom: 0;
		.accordeon__link{

			&:before{
				display: none;
			}
		}
	}
}

.accordeon__info{
	display: none;
    padding: 2px 0 35px 0;
    position: relative;
}

.accordeon__link{
	display: block;
	padding: 22px 30px 22px 0;
	position: relative;
	font-family: 'probapro-semibold';
	color: #000;
	&:after{
		content: "";
		width: 18px;
		height: 11px;
		background: url(../img/svg/faq_select_arrow.svg) center no-repeat;	
		background-size: cover;
		position: absolute;
		right: 6px;
    	top: 31px;
		transition:all 0.3s ease;
	}
}


.services{
	    padding: 15px 0 39px;
	background: #f1f2f2;
	position: relative;
}
.services__bg{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 498px;
	height: 233px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.services__wrap{
	display: flex;
	margin-right: -24px;
	
	&:last-child{
		.services__item{
			border-bottom: 0;
		}
	}
}

.services__item{
	border-bottom: 1px solid #d6d6d6;
	    padding: 43px 0;
	width: 25%;
	margin-right: 24px;
}

.services__title{
	color: #d83235;
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 19px;
	font-family: 'probapro-semibold';
}
.services__txt{
	font-size: 16px;
	line-height: 1.2;
}

.services__item--lg{
	width: 50%;
	.services__title{
		font-size: 48px;
		margin-bottom: 15px;
	}
	.services__txt{
		font-size: 24px;
	}
}

.cases{
	background: #fff;
	padding: 45px 0 20px; 
}
.cases__title{
	h2{
		margin-bottom: 27px;
	}
}

.cases__item{
	display: flex;
	background: #f1f2f2;
	position: relative;
	.container-fluid{
		display: flex;
    	justify-content: flex-end;
	}
}
.cases__img{
	width: calc(50% - 33px);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}

.cases__info{
	width: 50%;
	padding: 24px 0 23px 12px;
}

.cases__txt{
	margin-bottom: 12px;
    font-size: 24px;
    line-height: 1.21;
}

.cases-add{
	padding: 51px 0 10px;
}

.cases-add__wrap{
	display: flex;
}
.cases-add__title{
	width: 276px;
	min-width: 276px;
}

.cases-add__list{
	column-count:2;
	    column-gap: 127px;
	margin: 0!important;
	padding-left: 9px!important;
}


.work{
	padding: 30px 0;
}



.work__wrap{
	display: flex;

}
.work__title{
	width: 276px;
	min-width: 276px;
	h3{
		line-height: 0.9;
		margin-bottom: 25px;
	}
}

.work__item{
	padding-left: 39px;
	padding-right: 15px;
}

.work__top{
	font-family: 'probapro-semibold';
	line-height: 1.2;
	display: block;
	color: #d83235;
	margin-bottom: 19px;
	font-size: 30px;
	position: relative;
	&:before{
		content: "";
		display: inline-block;
		width: 22px;
		height: 22px;
		background: url(../img/content/work-link.png) no-repeat;
		position: absolute;
		left: -37px;
    	top: 7px;
	}
}
.work__info{
	font-size: 16px;
	    line-height: 1.2;
}

.work-slider-wrap{
	min-width: 0;
	min-height: 0;
	margin-top: -3px;
}

.work-slider,
.work-slider-variable{
	display: none;
	&.slick-initialized{
		display: block;
	}
	.slick-arrow{
		display: inline-block;
		padding: 0;
		text-indent: -9999em;
		border: 0;
		width: 11px;
		height: 18px;
	}
	.slick-prev{
		background: url(../img/svg/prev.svg) no-repeat;
	}
	.slick-next{
		background: url(../img/svg/next.svg) no-repeat;
	}
}

.slider-nav{
	display: flex;
    align-items: center;
	// .slick-arrow{
	// 	display: inline-block;
	// 	padding: 0;
	// 	text-indent: -9999em;
	// 	border: 0;
	// 	width: 11px;
	// 	height: 18px;
	// }
	// .slick-prev{
	// 	background: url(../img/svg/prev.svg) no-repeat;
	// 	margin-right: 18px;
	// }
	// .slick-next{
	// 	background: url(../img/svg/next.svg) no-repeat;
	// 	margin-left: 18px;
	// }
}

.slider-nav__prev,
.slider-nav__next{
	display: inline-block;
	padding: 0;
	text-indent: -9999em;
	border: 0;
	width: 11px;
	height: 18px;
	cursor:pointer;
}
.slider-nav__prev{
	background: url(../img/svg/prev.svg) no-repeat;
	margin-right: 18px;
}
.slider-nav__next{
	background: url(../img/svg/next.svg) no-repeat;
	margin-left: 18px;
}

.partners{
	padding: 45px 0 4px 0;
}

.partners__wrap{
	display: flex;
	align-items: center;
	flex-wrap:wrap;
	margin-right: -25px;
	position: relative;
	z-index: 1;
}

.partners__item{
	padding-right: 25px;
	display: flex;
	justify-content: center;
	margin-bottom: 42px;
	img{
		display: block;
	}
}

.releases{
	padding: 45px 0 67px 0;
	background: #f1f2f2;
	position: relative;
}
.releases__bg{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    img{
    	display: block;
    }
}
.releases__wrap{
	display: flex;
	justify-content: space-between;
}

.releases__wrap::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}

/* Track */

.releases__wrap::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.5);
  border-radius: 5px;
}

/* Handle */

.releases__wrap::-webkit-scrollbar-thumb {
  	background: #dd245b;
  	border-radius: 5px;
}

.releases__title{

}

.releases__item{
	position: relative;
	font-size: 16px;
	padding: 30px 2px;
}
.releases__num{
	position: absolute;
	font-size: 119px;
	line-height: 90px;
	color: #fff;
	font-family: 'probapro-semibold';
	left: 0;
	top: 0;
}

.releases__link{
	color: #000;
	border-bottom: 2px solid $alt-color;
	transition: all 0.3s ease;
	&:hover{
		border-bottom: 2px solid transparent;
	}
}

.releases__date,
.releases__link{
	position: relative;
	z-index: 1;
	line-height: 1;
}

.work-company{
	margin-bottom: 20px;
}
.work-company__time{
	font-size: 24px;
	color: #d83235;
	margin-bottom: 20px;
}
.work-company__logo{
	img{
		display: block;
		max-width: 100%;
	}
}


.work--portfolio{
	    padding: 50px 0 30px;
	.work__item{
		padding-bottom: 80px;
		border-bottom: 1px solid #d6d6d6;
		height: auto!important;
		margin-right: 26px;
		position: relative;
	}
	.slick-track{
		display: flex;
		min-width: 100%;
	}
	.work__top,
	.work__info{
		position: relative;
		z-index: 1;
	}
	.slick-list{
		margin-right: -26px;
	}
	.work-slider-wrap{
		margin-top: 0;
	}
}

.work__img{
	position: absolute;
	bottom: 0;
	right: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 235px;
    height: 340px;
}

.work-slider-variable{

	.work__item{
		width: 260px;
		&.work__item--double{
			width: 520px;
		}
	}
}

.page-top__btn{
	padding: 30px 0 35px;
	.btn{
		font-size: 24px;
		&:before{
	     	background: url(../img/content/btn-bg-alt.png) repeat;
	     	top: 2px;
    		left: 2px;
	    }
	}
	.btn__in{
	    padding: 6px 23px;
	   
	}
}

.work-company__logo{
	margin-bottom: 34px;
}

.work__item--double {
	.work__top{
		font-size: 48px;
	}
	.work__info{
		font-size: 24px;
	}
}

body.fixed {
    overflow: hidden;
}
.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}


.releases__info{
	max-width: 160px;
	position: relative;
	z-index: 1;
	line-height: 1.2;
	padding-top: 18px;
}

.publications__title{
	display: flex;
	align-items:center;
	margin-bottom: 20px;
	h3{
		margin-bottom: 0;
	}
	.btn{
		margin-left: 20px;
	}
}

.presentations{
	padding: 80px 0 70px 0;
	overflow: hidden;
}
.presentations__wrap{
	display: flex;
	position: relative;
	&:before{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: #fff;
		position: absolute;
		top: 0;
		right: 100%;
		z-index: 2;
	}
}

.presentations-slider-wrap {
    min-width: 0;
    min-height: 0;
}
.presentations__title {
    width: 276px;
    min-width: 276px;
        background: #fff;
    position: relative;
    z-index: 3;
    h3{
    	line-height: 1;
    }
}
.presentations-slider{
	display: none;
	&.slick-initialized{
		display: block;
	}
	.slick-arrow{
		display: inline-block;
		padding: 0;
		text-indent: -9999em;
		border: 0;
		width: 11px;
		height: 18px;
	}
	.slick-prev{
		background: url(../img/svg/prev.svg) no-repeat;
	}
	.slick-next{
		background: url(../img/svg/next.svg) no-repeat;
	}
	.slick-list{
		margin: 0 -12px;
		    overflow: visible;
	}
}


.presentations__item{
	padding: 0 12px 0 12px;
	width: 367px;
}

.presentations__link{
	width: 100%;
	height: 217px;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.partners-wrapper{
	display: flex;
}

.partners__title{
	width: 276px;
    min-width: 276px;
}


.expert{
	background: #f1f2f2;
	    padding: 139px 0 73px;

	position: relative;
}
.expert__wrap{
	display: flex;
	margin-right: -25px;
}
.expert__item{
	width: 50%;
	padding-right: 25px;
	line-height: 1.24;
	p{
		margin-bottom: 13px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.expert__add{
	font-size: 24px;
	padding-top: 6px;
}

.expert__img{
	position: absolute;
	bottom: 0;
	right: 40px;
	transform: translateY(50%);
}


.page-person{
	display: flex;
	
	position: relative;
    z-index: 3;
}

.page-person__img{
	width: 50%;
	padding-right: 12px;
	padding-top: 5px;
	margin-bottom: -110px;
	img{
		display: block;
		max-width: 100%;
		box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.35);
	}
}

.page-person__info{
	width: 50%;
	padding-left: 12px;
}
.page-person__position{
	font-size: 24px;
	margin-bottom: 32px;
}

.person-labels{
	margin-bottom: 35px;
}

.person-labels__wrap{
	display: flex;
	flex-wrap:wrap;
}
.label{
	display: inline-block;
	padding: 7px 16px 8px 16px;
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 16px;
	line-height: 1;
	background: rgba(0,0,0,0.2);
}

.label--red{
	background: #dd255a;
}
.label--blue{
	background: #0214c7;
}
.person-mail{
	color: #fff;
	margin-right: 15px;

}
.person-contact{
	font-size: 24px;
	.btn__in{
		padding: 6px 27px;
	}
	.btn:before {
	    background: url(../img/content/btn-bg-alt.png) repeat;
	}
}
.page-person__title{
	h1{
		margin-bottom: 15px;
	}
}

.partners--title{
	padding: 61px 0 15px 0;
}

.gr-sqheme{
	background: #f1f2f2;
}

.reviews{
	    padding: 53px 0 68px;
	overflow: hidden; 
}

.reviews__title{
	width: 276px;
    min-width: 276px;
    position: relative;
    z-index: 1;
    h3{
    	line-height: 1;
    }
}

.reviews-slider{
	display: none;
	padding-top: 257px;
	&.slick-initialized{
		display: block;
	}
	.slick-track{
		display: flex;
		min-width: 100%;
		align-items: center;
	}
	.slick-list {
    	overflow: visible;
 	}
}
.reviews__icon{
	    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
	img{
		display: inline-block;
		max-width: 100%;
	}
}


.reviews__item{
	position: relative;
	color: #fff;
}


.reviews-info{
	position: absolute;
	background: #d83234;
	    padding: 33px 45px 50px 58px;
	display: flex;
	    font-size: 24px;
    width: 805px;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, -112px);
    margin-left: 74px;
    opacity: 0;
    pointer-events:none;
    transition: opacity 0s ease 0s;
    &:after{
    	content: "";
    	position: absolute;
    	left: 330px;
    	top: 100%;
    	width: 0;
		height: 0;
		border-style: solid;
		border-width: 65px 65px 0 0px;
		border-color: #d83235 transparent transparent transparent;
    }
}
.reviews-info__txt{
	flex:1;
	line-height: 1.23;
	padding-right: 45px;
}

.reviews-info__img{
	font-size: 16px;
	width: 170px;
	    padding-top: 12px;
}
.reviews-info__icon{
    width: 65px;
    min-width: 65px;
    height: 65px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}
.reviews-info__person{
	line-height: 1.2;
}


.slick-center{
	.reviews-info{
	    opacity: 1;
	    pointer-events:all;
	    transition: opacity 0.3s ease 0.4s;
	}
}

.order{
	padding: 29px 0;
	display: flex;
	align-items:center;
	justify-content: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	font-size: 24px;
	.btn:before {
	    background: url(../img/content/btn-bg-alt.png) repeat;
	}
}


.architecture{
	padding: 40px 0 55px;
	.architecture__list{
		padding-left: 0;
		column-count:2;
		margin-bottom: 40px;
		li{
			page-break-inside: avoid;
			break-inside: avoid;
		}
	}
}

.architecture__img{
	img{
		display: block;
		max-width: 100%;
	}
}

.architecture__list{
	padding-left: 0;
}

.create{
	padding: 40px 0;
	background: #f1f2f2;
}

.create__list{
	display: flex;
	margin-right: -25px;
}

.create__item{
	width: 50%;
	padding-right: 25px;
}
.create__top{
	font-size: 24px;
	margin-bottom: 20px;
}
.create__info{
	margin-bottom: 24px;
}

.create__img{
	img{
		max-width: 100%;
	}
}

.page-top__price{
	//padding-top: 10px;
	    margin: 46px 0 31px;
	font-size: 48px;
	font-family: 'probapro-semibold';
	span{
		font-size: 24px;
		font-family: "probapro-regular", Arial, sans-serif;
	}
}
.page-top__contact{
	display: flex;
	align-items:center;
	margin-bottom: 14px;
	.btn{
		font-size: 24px;
	}
	.btn:before {
	    background: url(../img/content/btn-bg-alt.png) repeat;
	}
	.btn__in {
	    padding: 6px 22px;
	}
}
.page-top__mail{
	color: #fff;
	margin-right: 36px;
	    border-bottom: 2px solid #000;
    display: inline-block;
}

.audit{
	padding: 28px 0 48px;
	position: relative;
	h2{
		margin-bottom: 37px;
	}
	.architecture__list{
		padding-left: 0;
		column-count:2;
		li{
			page-break-inside: avoid;
  			break-inside: avoid;
		}
	}
}

.audit__bg{
	    position: absolute;
    bottom: -50px;
    right: 0;
    width: 498px;
    height: 233px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.audit__wrap{
	display: flex;
	padding-top: 26px;
}
.audit__title {
    width: 276px;
    min-width: 276px;
    padding-right: 50px;
}
.audit__info{
	flex:1;
}

.audit-download{
	position: relative;
	
	&:before{
		content: "";
		display: inline-block;
		width: 158px;
		height: 222px;
		background: url(../img/content/doc-bg.png) no-repeat;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: -25px;
		    margin-left: 5px;
	}
}

.audit-download__link{
	display: block;
	position: relative;
	font-size: 24px;
	color: #000;
	line-height: 1.1;
	padding-left: 63px;
	&:before{
		content: "";
		display: inline-block;
		width: 41px;
		height: 47px;
		background: url(../img/content/doc.png) no-repeat;
		position: absolute;
		left: 0;
		top: 7px;
	}
	span{
		display: block;
		padding-top: 15px;
		color: #d83234;
		font-size: 18px;
	}
}


.analytics{
	padding: 35px 0 26px;
	.architecture__list{
		padding-left: 0;
		column-count:2;
		padding-top: 43px;
		li{
			page-break-inside: avoid;
  			break-inside: avoid;
		}
	}
}
.analytics__wrap{
	display: flex;
}
.analytics__title {
    width: 276px;
    min-width: 276px;
    padding-right: 30px;
    color: #d83234;
    font-size: 24px;
    line-height: 1.15;
    padding-top: 44px;
}
.analytics__info{
	flex:1;
}

.hint{
	display: inline-block;
	vertical-align: middle;
	position: relative;
}


.hint__info{
	position: absolute;
	line-height: 1.2;
	padding: 20px;
	box-shadow:         0px 0px 4px 0px rgba(0, 0, 0, 0.75);
	background: #fff;
	bottom: 100%;
	left: 50%;
	    transform: translate(-50%, -12px);
    font-size: 16px;
    width: 290px;
}

.analytics-person{
	display: flex;
	align-items: center;
	font-size: 18px;
	color: #000;
	padding-top: 17px;
}

.analytics-person__img {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 12px;
}

.tooltip{
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
	width: 15px;
	height: 15px;
	background: url(../img/content/hint.png) no-repeat;
	cursor: pointer;
}

.tooltip-content{
    background: #d1d1d1;
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    border-radius: 50%;
       font-size: 16px;
    line-height: 20px;
    color: #fff;
    line-height: 22px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.3s ease;
}


.tooltipster-sidetip .tooltipster-box{
    background: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
    text-align: left;
    word-wrap: break-word;
    max-width: 350px;
}

.tooltipster-sidetip .tooltipster-content {
    font-size: 16px;
    color: #333;
    line-height: 1.3;
   	padding: 15px 20px;
}

.tooltipster-sidetip .tooltipster-arrow-background {
    border: 11px solid transparent;
    border-top-color: #fff!important;
    left: -1px!important;
    top: -2px!important;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
    border-right-color: #fff;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #fff;
}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
    border-right-color: #fff;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border{
    border-top-color: #e4e4e4;
}


.layout--index{
	.person-labels__wrap{
		max-width: 530px;
	}
	.logo{
		width: 151px;
		height: 36px;
		background: url(../img/content/logo-index.png) no-repeat;
	}
	.page-top{
		    padding: 268px 0 54px;
	}
	.page-title {
	    margin-bottom: 53px;
	}
}
.index-services{
	padding: 27px 0;
}

.index-services__inner{
	background: #fff;
	height: 100%;
	display: flex;
	align-items: flex-end;
	color: #d83235;
	font-family: 'probapro-semibold';
	padding: 43px 43px 32px;
}

.index-services__item{
	margin-bottom: 26px;

	&.col-md-4{
		min-height: 257px;
		font-size: 30px;
		.index-services__inner{
			    padding: 43px 40px 40px;
		}
		
	}
	&.col-md-6{
		min-height: 396px;
		font-size: 48px;

	}
}

.index-services__title{
	line-height: 1.15;
}

@import "components/footer";




@import "components/media";





