@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   	body{
   		padding-right: 0!important;
   	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {

}


//MEDIA
@media screen and (max-width: 1300px){
	.releases__num {
	    font-size: 85px;
	    line-height: 75px;
	}
	.container-fluid {
	    margin: 0;
	    max-width: 100%;
	    padding: 0 100px 0 20px;
	}
	.top-menu {
	    padding: 75px 0 60px;
	}
	.cases__info {
	    padding-left: 36px;
	}
	.cases__txt{
		font-size: 18px;
	}
	.work__top {
	    line-height: 1.1;
	}
}
@media screen and (max-width: 1250px){
	.page-top {
	    padding: 20px 100px 28px 75px;
	    .container-fluid{
	    	padding: 0;
	    }
	}
}

@media screen and (max-width: 1200px){
	.work__top {
	    line-height: 1.1;
	    font-size: 24px;
	}
	.work__item--double .work__top {
	    font-size: 32px;
	}
	.work__img {
	    width: 190px;
	    height: 270px;
	}
	.cases-add__list {
	    column-gap: 20px;
	}
	.presentations__link {
	    height: 195px;
	}
}

@media screen and (max-width: 1100px){
	.presentations__item {
	    padding: 0 5px;
	}
	.presentations-slider .slick-list {
	    margin: 0 -5px;
	    overflow: visible;
	}
	.presentations__link {
	    height: 175px;
	}
}


@media screen and (max-width: 1023px){
	.workarea {
	    line-height: 1.2;
	}
	.workarea h1{
		font-size: 50px;
	}
	.workarea h2{
		font-size: 36px;
	}
	.incut__add {
	    font-size: 24px;
	}
	.publications__top {
	    font-size: 24px;
	    line-height: 1.1;
	}
	.page-nav__item {
	    padding: 22px 15px;
	    font-size: 22px;
	}
	.page-nav__item--next{
		padding-left: 15px;
	}
	.page-nav__item--prev{
		padding-right: 15px;
	}
	.page-nav__arrow {
	    width: 145px;
	}
	.blog .container-fluid {
	    padding-right: 100px;
	}
	.publications__img,
	.releases__bg,
	.services__bg,
	.expert__img{
		display: none;
	}
	.publications__wrap {
	    margin-right: -20px;
	    flex-wrap: wrap;
	}
	.publications__item {
	    width: 50%;
	    padding-right: 20px;
	    margin-bottom: 30px;
	}
	.page-header__links a {
	    margin: 20px 0;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.page-header__links a:before{
		top: -20px;
	}
	.page-footer-contacts__link {
	    font-size: 18px;
	}
	.bottom-nav__link {
	    margin-right: 20px;
	    &:last-child{
			margin-right: 0;
	    }
	}
	.top-menu__item {
	    padding-right: 25px;
	}
	.top-menu__wrap{
		margin-right: -25px;
	}
	.top-menu{
		font-size: 18px;
		padding: 75px 0 25px;
	}
	.top-service__item:before {
	    top: 12px;
	}
	.top-transition {
	    margin-bottom: 20px;
	}
	.services__title {
	    font-size: 24px;
	    line-height: 1.1;
	}
	.services__item--lg .services__title {
	    font-size: 24px;
	}
	.services__item--lg .services__txt{
		font-size: 16px;
	}
	.services__item{
		padding: 20px 0;
		width: 100%;
		margin-right: 0;
	}
	.services__wrap{
		flex-wrap:wrap;
		margin-right: 0;
	}
	.cases{
		padding: 20px 0;
	}
	.partners {
	    padding: 25px 0 4px 0;
	}
	.partners__wrap{
		margin-right: -15px;
	}
	.partners__item {
	    padding-right: 15px;
	    margin-bottom: 20px;
	}
	.releases__wrap {
	    justify-content: flex-start;
	}
	.releases__item {
	    margin-right: 47px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.releases {
	    padding: 20px 0;
	}
	.work__item--double .work__top {
	    font-size: 24px;
	}
	.work__item--double .work__info {
	    font-size: 16px;
	}
	.work--portfolio .work__item {
	    padding-bottom: 15px;
	}
	.work__img {
	    width: 150px;
	    height: 190px;
	}
	.work-slider-variable .work__item.work__item--double {
	    width: 320px;
	}
	.work-slider-variable .work__item{
	  
	}
	.releases__wrap{
		overflow-y: hidden;
		overflow-x: auto;
	}
	.person-contact {
	    font-size: 18px;
	}
	.page-person__img {
	    margin-bottom: 20px;
	}
	.expert {
	    padding: 30px 0;
	}
}

@media screen and (max-width: 900px){
	.presentations__link {
	    height: 275px;
	}
	.person-mail {
	    margin-right: 0;
	    display: block;
	    margin-bottom: 15px;
	}
}

@media screen and (max-width: 850px){
	.top-menu__title {
	    font-size: 18px;
	    margin-bottom: 10px;
	    color: #a0bdd2;
	}
	.experts__item {
	    margin-bottom: 5px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.top-service__item{
		padding-left: 25px;
	}
	.work__wrap,
	.cases-add__wrap,
	.presentations__wrap,
	.partners-wrapper,
	.expert__wrap{
		flex-wrap:wrap;
	}
	.expert__wrap{
		margin-right: 0;
	}
	.expert__item{
		width: 100%;
		padding: 0;
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.expert__add {
	    font-size: 20px;
	    padding-top: 0;
	}
	.work__title,
	.cases-add__title,
	.presentations__title,
	.partners__title{
		width: 100%;
		min-width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		h3{
			margin-bottom: 0;
		}
	}
	.cases-add__list{
		padding: 0;
		column-count: auto;
	}
	.page-footer{
		.btn__in {
		    padding: 12px 10px;
		}
	}
	.presentations__link {
	    height: 180px;
	}
}

@media screen and (max-width: 767px){
	.workarea h1 {
	    font-size: 30px;
	}
	.workarea h2 {
	    font-size: 24px;
	}
	.workarea h3{
		font-size: 20px;
	}
	.workarea h4{
		font-size: 18px;
	}
	.btn__in {
	    padding: 9px 10px;
	}
	.page-header {
	    width: 100%;
	    height: 70px;
	    flex-direction: row;
	        padding: 10px 20px;
    	align-items: center;
    	    justify-content: flex-end;
	}
	.top-btn {
	    min-height: auto;
	    display: block;
	    width: 33px;
	    height: 33px;
	}
	.top-btn__icon{
		margin-bottom: 0;
	}
	.top-btn__txt{
		display: none;
	}
	.page-header__links{
		display: none;
	}
	.logo {
	    position: fixed;
	    left: 20px;
	    top: 16px;
	        z-index: 8;
	}
	.page-top {
	    padding: 85px 0px 28px 0px;
	    .container-fluid{
	    	padding: 0 20px;
	    }
	}
	.author__img {
	    width: 70px;
	    min-width: 70px;
	    height: 70px;
	    margin-right: 10px;
	}
	.container-fluid,
	.blog .container-fluid{
		padding:0 20px;
	}
	.publications {
	    margin-top: 30px;
	    padding-bottom: 0;
	}
	.page-nav__arrow {
	    width: 80px;
	}
	.page-footer-contacts {
	    padding: 60px 0 30px;
	    flex-wrap: wrap;
	}
	.page-footer-contacts__top{
		display: none;
	}
	.page-footer-contacts__item {
	    width: 100%;
	    margin-bottom: 20px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.page-footer-contacts__link {
	    font-size: 24px;
	}
	.page-footer__inner {
	    padding: 30px 0;
	    flex-wrap: wrap;
	}
	.page-footer__info{
		width: 100%;
		margin-bottom: 20px;
	}
	.reviewed {
	    margin-top: 0;
	    width: 100%;
	    display: flex;
	    justify-content: center;
	}
	.bottom-nav {
	    margin-bottom: 0;
	    flex-wrap: wrap;
	    justify-content: center;
	}
	.bottom-nav__link{
		margin-bottom: 20px;
	}
	.page-footer__affress {
	    text-align: center;
	}
	.incut {
	    margin-bottom: 20px;
	    padding: 0;
	    flex-wrap: wrap;
	}
	.incut__add {
	    font-size: 20px;
	    width: 100%;
	    min-width: 100%;
	    margin-left: 0;
	    padding-top: 10px;
	}
	.highlighted {
	    padding: 20px;
	    margin-bottom: 20px;
	    ol{
			margin-bottom: 0;
			padding: 0;
	    }
	}
	.accordeon{
		margin-bottom: 20px;
	}
	.accordeon__link {
	    padding: 13px 30px 13px 0;
	    &:after{
	    	top: 20px;
	    }
	}
	.accordeon__info {
	    padding: 2px 0 20px 0;
	}
	.workarea ul,
	.workarea ol{
		padding-left: 0;
	}
	.workarea h3 + .page-img {
	    padding-top: 0;
	}
	.page-img {
	    margin-bottom: 20px;
	}
	.page-header {
	    margin-right: 0!important;
	}
	body{
		padding-right: 0!important;
	}
	.scrollbar-measure{
		display: none!important;
	}
	.top-menu__wrap {
	    margin-right: 0;
	    flex-wrap:wrap;
	    padding-bottom: 0;
	}
	.top-menu__item {
	    padding-right: 0;
	    width: 100%;
	}
	.top-menu__add{
		display: none;
	}
	.experts,
	.top-service,
	.top-transition{
	    margin-bottom: 20px;
	    column-count: 2;
    	display: block;
	}
	.experts__item {
	    margin-right: 20px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.top-service__item {
	    padding-left: 0;
	    &:before{
	    	display: none;
	    }
	}
	.page-header.active {
	    background: #020e1a;
	}
	.top-menu{
		padding-top: 95px;
	}
	// body.fixed {
	//     overflow-y: scroll;
	// }
	.top-menu .container-fluid{
		display: block;
	}
	.top-menu-links{
		flex-wrap: wrap;
	}
	.top-menu-links__item{
		&:first-child{
			width: 100%;
			padding-right: 0;
			margin-right: 0;
			border-right: 0;
			margin-bottom: 10px;
		}
	}
	.page-top__add {
	    font-size: 18px;
	}
	.cases__item{
		flex-wrap:wrap;
	}
	.cases__img{
		position: static;
		width: 100%;
		height: 260px;
		margin-bottom: 20px;
	}
	.cases__info {
	    padding: 0px 0 20px;
	    width: 100%;
	}
	.cases-add {
	    padding: 20px 0;
	}
	.partners__item{
		display: none;
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(5){
			display: block;
		}
	}
	.partners__wrap {
	    justify-content: center;
	}
	.work--portfolio .work-slider-wrap {
	    overflow: hidden;
	}
	.work--portfolio {
	    padding: 20px 0;
	}
	.work-company {
	    max-width: 50%;
	}
	.work-company__time{
		margin-bottom: 0;
	}
	.work-company__logo {
	    margin-bottom: 0;
	}
	.presentations {
	    padding: 30px 0;
	}
}

@media screen and (max-width: 600px){
	.workarea h1 {
	    font-size: 24px;
	}
	.workarea h2 {
	    font-size: 20px;
	}
	.workarea h3{
		font-size: 18px;
	}
	.page-nav__inner{
		flex-wrap:wrap;
	}
	.page-nav__item {
	    width: 100%;
	    margin-bottom: 2px;
	    padding: 20px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.page-nav__item--prev {
	    padding-right: 20px;
	    background: url(../img/content/prev-bg.jpg) center/cover no-repeat;
	}
	.page-nav__item--next {
	    padding-left: 20px;
	    background: url(../img/content/next-bg.jpg) center/cover no-repeat;
	}
	.page-nav__arrow {
	    width: 50px;
	}
	.page-footer-contacts {
	    padding: 85px 0 30px;
	}
	.publications h3 {
	    margin-bottom: 20px;
	}
	.publications__wrap {
	    margin-right: 0;
	}
	.publications__item{
		width: 100%;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.page-title + .author {
	    margin-top: 0;
	    bottom: 0;
	}
	.author__person {
	    margin-top: 0;
	}
	.blog {
	    padding-top: 20px;
	}
	.top-menu-links__item {
	    padding-right: 10px;
	    margin-right: 10px;
	    &:last-child{
	    	margin-right: 0;
	    	padding-right: 0;
	    }
	}
	.work__title h3 {
	    max-width: 50%;
	}
	.cases__img {
	    height: 120px;
	}
	.work__top {
	    font-size: 18px;
	}
	.cases-add {
	    padding: 20px 0 0;
	}
	.services__item--lg .services__title,
	.services__title{
	    font-size: 18px;
	    margin-bottom: 10px;
	}
	.services__item{
		border-bottom: 0;
		padding: 0 0 20px 0;
	}
	.services {
	    padding: 15px 0;
	}
	.work{
		overflow: hidden;
	}
	.work-slider{
		.slick-list {
		    margin-right: -100px;
		}
	}
	.presentations__link {
	    height: 285px;
	}
	.page-person__position {
	    font-size: 18px;
	    margin-bottom: 20px;
	}
	.page-person{
		flex-wrap:wrap;
	}
	.page-person__img {
	    width: 100%;
	    height: 260px;
	    padding-right: 0;
	    img{
	    	max-height: 100%;
	    }
	}
	.page-person__info {
	    width: 100%;
	    padding-left: 0;
	}
	.label {
	    padding: 4px 10px 5px 10px;
	    margin-right: 3px;
	    margin-bottom: 3px;
	}
	.person-labels {
	    margin-bottom: 15px;
	}
	.publications__title{
		flex-wrap: wrap;
		h3{
			width: 100%;
		}
	}
	.publications__title .btn {
	    margin-left: 0;
	}
}	

@media screen and (max-width: 500px){
	.presentations__link {
	    height: 200px;
	}
}
@media screen and (max-width: 400px){
	.presentations__link {
	    height: 150px;
	}
}